<section class='students'>
  <h2>Current Blog posts:</h2>
  <% posts.each do |posts| %>
    <h2>
      <%= posts.title %>
      </h2>
      <p>
      <%= posts.body  %>
      </p>
      <p>
      <strong>Is this published? <%= posts.published %></strong>
   </p>
  <% end %>
</section>
