<a href='/posts/new'>
<h2>New post</h2>
</a>

<section class='posts'>
  <h2>Current Blog posts:</h2>
  <% posts.each do |posts| %>
    <a href='/posts/<%= posts.id %>'>
    <h3> <%= posts.title %></h3>
    </a>
    <p><%= posts.body  %></p>
    <p><strong>Is this published? <%= posts.published %></strong></p>
  <% end %>
</section>
